<div class="layout">

  <header class="sticky top-0 z-50 bg-slate-900 text-white shadow">
    <div class="max-w-7xl mx-auto px-6">
      <div class="flex items-center justify-between h-16">
        <h1 class="text-lg font-semibold tracking-wide">
          BTG Fondos
        </h1>

        <nav class="flex items-center gap-6 text-sm">
          <a routerLink="/funds" routerLinkActive="text-white border-b-2 border-white"
            class="text-slate-300 hover:text-white transition">
            Fondos
          </a>
          <a routerLink="/transactions" routerLinkActive="text-white border-b-2 border-white"
            class="text-slate-300 hover:text-white transition">
            Historial
          </a>
        </nav>

      </div>
    </div>
  </header>

  <main class="max-w-7xl mx-auto p-6">
    <router-outlet></router-outlet>
  </main>

</div>